extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  form(method='post', action='/api/beer_lookup')
    input(type='text', name='beerName')
    input(type="submit" value="Find Beer")
  
