extends layout

block content
  br
  p Beers reviews in one place.
  div
  form(method='post', action='/api/beer_lookup')
    input(type='text', name='beerName' placeholder='Search for beer')
    input(type="submit" value="Find Beer Reviews" class="button submit-btn button-clear")

  script.
    document.getElementsByTagName('form')[0].onsubmit = function () {
      document.getElementsByClassName('button')[0].value='Searching...'
    }

