extends layout

block content
  br
  p Beers reviews in one place.
  div
  form(method='get', action='/find')
    input(type='text', name='beer' placeholder='Search for beer', autofocus)
    input(type="submit" value="Find Beer Reviews" class="button submit-btn button-outline" disabled)
  
  span.light Examples: 
  span.ex-beer-link "Pliny the Younger"
  |,
  span.ex-beer-link "Avery Tweak"
  |,
  span.ex-beer-link "Heady Topper"

  script.
    document.onload = function () {
      var button = document.getElementsByClassName('button')[0];
      button.value='Find Beer Reviews';
    }
    
    var input = document.getElementsByName('beer')[0];
    input.onkeydown = function () {
      var button = document.getElementsByClassName('button')[0];
      button.disabled = false;
    }
    
    document.getElementsByTagName('form')[0].onsubmit = function () {
      document.getElementsByClassName('button')[0].value='Searching...'
    }
