
body {
  padding: 50px;
  font: 14px 'Roboto Mono', Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

.container {
      max-width: 60rem;
}

.purp {
  color: #9b4dca;
}

.beer-name {
  color: #aaaaaa;
}

.beer-row {
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
  transition-duration: .15s;
}

.beer-row:hover {
  transform: translateY(-2px);
}

.button {
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  transition: all .15s ease;
}

.button:hover {
  transform: translateY(-2px);
}